{
    "Configuration": {
        "ServerHostname": "ip6ns.example.com",
        "ServerAddress": "0.0.0.0",
        "ServerPort": 53
    },
    "Prefixes": {
        "fc00:ffff:ffff:acff::/64": {
            "Version": 6,
            "ReverseZoneEnabled": true,
            "ForwardZoneEnabled": true,
            "ForwardZoneName": "ipv6.example.com",
            "RecordPattern": "%r.ipv6.example.com",
            "RecordTTL": 300,
            "StartOfAuthority": {
                "PrimaryNameServer": "ip6ns.example.com",
                "AdminContact": "root.example.com",
                "SerialNumber": 2015011101,
                "RefreshTime": 86400,
                "RetryTime": 7200,
                "ExpireTime": 604800,
                "MinimumTTL": 300
            },
            "NameServers": [
                "ip6ns.example.com"
            ],
            "StaticEntries": {
                "fc00:ffff:ffff:acff::1": "gw.ipv6.example.com",
                "fc00:ffff:ffff:acff::2": {
                    "Hostname": "server.ipv6.example.com",
                    "ForwardLookup": true,
                    "ReverseLookup": false,
                    "RecordTTL": 3600
                }
            }
        }
    }
}